@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(7, 33, 39);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  background: #dfdfdf;
  padding: 20px;
  border-radius: 10px;
}

div{
  text-align: center;
}

.list{
  margin: 50px auto;
  font-size: 17px;
  text-transform: uppercase;
  text-align: justify;

}

.lButton{
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 25px;
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;

}

.lButton:hover {
  background: var(--primary-color-darker);
}

.lButton:active {
  background-color: black;
}

.task {
  font-size: 18px;
  background: #dfdfdf;
  height: 40px;
  width: 600px;
  padding: 0 20px;
  border-radius: 5px;
}

.task:hover{
  background-color: #f5f5f5;
}

.button {
  border: none;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  width: 150px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background: var(--primary-color-darker);
}

.button:active {
  background-color: black;
}

.tittle{
  text-align: center;
}
